* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.logo {
  margin-top: 15px;
  width: 130px;
  height: 40px;
  z-index: 10;
}
.logo__img {
  width: 100%;
  height: 100%;
}
.dropdown
{
  margin-top: 15px;
  z-index: 10;
}
.login__button
{
  margin-top: 15px;
  z-index: 10;
}
.main {
  background-image: url(resources/netflix-bg.jpg);
  height: 90vh;
  background-size: 100vw;
  background-repeat: no-repeat;
  position: relative;
  background-size: max(1400px, 100vw);
}
.box {
  height: 90vh;
  width: 100%;
  position: absolute;
  opacity: 0.54;
  top: 0;
  background-color: black;
}
nav {
  display: flex ;
  gap: 10px;
}
.hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  top: -70px;
  right: 20px;
  margin: 23px;
  padding: 23px;
  line-height: 50px;
}
.hero > :nth-child(1) {
  font-size: larger;
  font-weight: bolder;
  margin-bottom: 10px;
}
.hero > :nth-child(2) {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
}
.hero > :nth-child(3) {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}
.hero__input {
  position: absolute;
  top: 500px;
  left: 30px;
  background-color: rgb(23,23,23,0.2);
}
.login__buton {
  text-align: center;
}
.login__text
{
  text-decoration: none;
  color: white;
}
.second__page {
  padding: 34px;
  background-color: black;
  color: white;
}
.tv__image {
  width: 300px;
  height: 200px;
  position: relative;
  z-index: 10;
}
.video1 {
  position: absolute;
  bottom: -312px;
  right: 53px;
  width: 250px;
  height: 109px;
}

.third__page__image {
  width: 100vw;
  height: 40vh;
}
.mobile__image {
  width: 100%;
  height: 100%;
}
.third__page__text {
  margin-top: auto;
  padding: 23px;
  background-color: black;
  color: white;
}
.third__page__text h1 {
  margin-top: 50px;
  margin-left: 20px;
}
.third__page__text h4 {
  margin-left: 20px;
}
.fourth__page__image {
  background-color: black;
}
.tv__image2 {
  margin-left: 30px;
  width: 300px;
  height: 200px;
  position: relative;
  z-index: 10;
}
.video2 {
  position: absolute;
  width: 160px;
  height: 120px;
  top: 1600px;
  right: 95px;
}
.fourth__page__text {
  margin-top: auto;
  padding: 23px;
  background-color: black;
  color: white;
}
.children__image {
  width: 100vw;
  height: 40vh;
}
.fifth__page__text {
  color: white;
  margin: 10px;
  padding: 20px;
  padding-bottom: 50px;
}
.fifth__page {
  background-color: black;
}
.sixth__page {
  background-color: black;
}
.sixth__page__head {
  margin-top: -20px;
  color: white;
  padding-bottom: 30px;
}
.first__question button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  width: 350px;
}
.second__question button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  width: 350px;
}
.third__question button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  width: 350px;
}
.fourth__question button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  width: 350px;
}
.fifth__question button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  width: 350px;
}
.sixth__question button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  width: 350px;
}
.first__question div {
  background-color: black;
  font-size: 20px;
  color: white;
}
.second__question div {
  background-color: black;
  font-size: 20px;
  color: white;
}
.third__question div {
  background-color: black;
  font-size: 20px;
  color: white;
}
.fourth__question div {
  background-color:black;
  font-size: 20px;
  color: white;
}
.fifth__question div {
  background-color: black;
  font-size: 20px;
  color: white;
}
.sixth__question div {
  background-color: black;
  font-size: 20px;
  color: white;
}
.sixth__page__footer {
  color: white;
  padding-top: 30px;
  padding: 10px;
  font-size: small;
}
.sixth__page__form {
  text-align: center;
  padding: 10px;
}
.sixth__page__form input
{
  background-color: rgba(23,23,23,0.2);
  color: white;
}
.hero__input input
{
  background-color: rgba(23,23,23,0.2);
  color: white;
}
.footer__section {
  background-color: black;
  color: white;
}
.footer__text__1 {
  padding: 20px;
}
.footer__text__1 a {
  color: white;
  text-decoration: none;
}

.footer__text__1 a a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
.footer__text__2 {
  display: flex;
  text-decoration: none;
}
.footer__text__2 ul {
  list-style: none;
}
.footer__text__2 a {
  list-style: none;
  text-decoration: none;
  color: white;
}
.footer__text__2 a a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.footer__text__3 {
  display: flex;
  text-decoration: none;
}
.footer__text__3 ul {
  list-style: none;
}
.footer__text__3 a {
  list-style: none;
  text-decoration: none;
  color: white;
}
.footer__text__3 a a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


@media (min-width: 1024px) {
  .logo {
    margin-right: 900px;
    margin-left: 100px;
  }
  .hero__input {
    position: absolute;
    top: 400px;
    left: 690px;
  }
  .hero {
    top: -30px;
    right: 300px;
  }
  .second__page {
    display: flex;
    justify-content: space-between;
  }
  .tv__image {
    width: 640px;
    height: 480px;
    z-index: 3;
  }
  .video1 {
    position: absolute;
    bottom: -370px;
    right: 140px;
    width: 449px;
    height: 350px;
  }
  nav {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .second__page__text {
    padding: 70px;
    margin-top: 133px;
  }
  .hero__input {
    position: absolute;
    top: 400px;
    left: 650px;
  }
  .third__page {
    display: flex;
  }
  .third__page__image {
    width: 500px;
    height: 350px;
  }
  .third__page__text {
    margin-top: -10px;
  }
  .third__page__text h1 {
    margin-top: 100px;
  }
  .third__page__text h4 {
    padding-right: 70px;
  }
  .video2 {
    width: 420px;
    height: 350px;
    position: absolute;
    top: 1510px;
    right: 110px;
    z-index: 3;
  }
  .tv__image2 {
    width: 640px;
    height: 480px;
  }
  .fourth__page {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: black;
  }
  .fourth__page__text {
    margin-top: 150px;
    padding: 53px;
  }
  .fifth__page {
    display: flex;
    justify-content: space-between;
  }
  .children__image {
    width: 600px;
    height: 450px;
  }
  .fifth__page__text {
    margin-top: 150px;
    padding: 53px;
  }
  .sixth__page__head {
    text-align: center;
  }
  .first__question button {
    margin-left: 200px;
    width: 1000px;
  }
  .second__question button {
    margin-left: 200px;
    width: 1000px;
  }
  .third__question button {
    margin-left: 200px;
    width: 1000px;
  }
  .fourth__question button {
    margin-left: 200px;
    width: 1000px;
  }
  .fifth__question button {
    margin-left: 200px;
    width: 1000px;
  }
  .sixth__question button {
    margin-left: 200px;
    width: 1000px;
  }
  .first__question div {
    margin-left: 130px;
    width: 1000px;
  }
  .second__question div {
    margin-left: 130px;
    width: 1000px;
  }
  .third__question div {
    margin-left: 130px;
    width: 1000px;
  }
  .fourth__question div {
    margin-left: 130px;
    width: 1000px;
  }
  .fifth__question div {
    margin-left: 130px;
    width: 1000px;
  }
  .sixth__question div {
    margin-left: 130px;
    width: 1000px;
  }
  .sixth__page__footer {
    padding-top: 20px;
    text-align: center;
  }
  input {
    width: 350px;
    height: 30px;
  }
  .footer__section {
    padding-top: 40px;
    display: flex;
    gap: 100px;
  }
  .footer__text__2 {
    gap: 100px;
  }
  .footer__text__3 {
    gap: 100px;
  }
}
